.bottle {
    width: 50px;
    height: 150px;
    background: #2cb673;
    border-radius: 10px;
    position: relative;
  }
  
  .top {
    width: 35px;
    height: 35px;
    border-radius: 50% 50% 0 0;
    background: #ffffff;
    position: absolute;
    top: -10px;
    left: 7.5px;
  }
  
  .middle {
    width: 40px;
    height: 110px;
    border: solid 5px #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 5px;
  }
  
  .bottom {
    width: 50px;
    height: 25px;
    border-radius: 0 0 10px 10px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
  }